.cart{
    display: flex;
    margin-left: 4rem;
    width: 100%;
    height: calc(100vh - 5rem);
}
  
@media (max-width: 650px) {
    .cart {
      flex-direction: column;
      margin-left: 4rem;
      }
    
  }

