.FullProductCard__body {
    display: flex;
    max-width: 50rem;
    margin: 8rem auto;
    border-radius: 30px;
    background: #f0f0f0;
    box-shadow: 28px 28px 57px #c1c1c1, 57px #ffffff;
  }
  
  .FullProductCard__body_image {
    min-width: 3rem;
    margin: auto;
    align-items: center;
  }
  
  .FullProductCard__body_image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .FullProductCard__body_image img {
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .cart_button {
    width: 50px;
    position: relative;
    bottom: -8%;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
  }
  
  .cart_button_button {
    transition: background-color 0.8s ease 0s, box-shadow 0.4s ease 0s;
    background-color: rgb(0, 0, 0);
  }
  .cart_button_button:hover {
    background-color: rgb(255, 255, 255);
  }
  .cart_button svg {
    width: 20px;
  }
  .cart_button path {
    fill: #ffffff;
  }
  .cart_button:hover path {
    fill: #000000;
  }
  
  .FullProductCard__body_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-width: 15rem;
  }
  
  .FullProductCard__body_content p span {
    margin-top: 1rem;
  }
  
  .FullProductCard__body_content_shop {
    display: flex;
    margin-top: 1rem;
  }
  
  @media (max-width: 650px) {
    .FullProductCard__body {
      flex-direction: column;
      margin: 4rem auto;
    }
  }