.home {
    display: flex;
    margin-left: 4rem;


}
.home_news{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .home_news{
        width: calc(100vw - 4rem);
    }
 } 
