.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 400;
}

.ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    gap: 2rem;
    list-style: none;
}

