.dashboard{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: auto;
    gap: 2rem;
    background-color: rgb(232, 232, 232);
    height: 90vh;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: all 0.3s linear;
}

.items{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.items > div{
    margin: 3rem;
}
.items a:hover{
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.items a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}